* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --brand-color: #ffa500;
  --red: rgb(246, 82, 67);
  --d-gray: rgb(55, 55, 55);
  --l-gray: rgb(99, 99, 99);
  --bg-c1: rgba(255, 255, 255, 0.989);
}

#body {
  background-color: white;
}

.color-brand {
  color: var(--brand-color);
}

/* ------------------------------ */
/* Header */
/* ------------------------------ */
.logo {
  height: 3rem;
}

#nav,
nav > ul,
nav > div {
  display: flex;
  /* gap: 1rem; */
  height: 4rem;
}

.flex-row {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#nav > div > a > p {
  color: var(--d-gray);
  font-weight: 700;
  font-size: 1rem;
}
.navbar-collapse {
  flex-grow: 0;
}

.nav-item {
  color: var(--l-gray);
  font-weight: 500;
}

.nav-link:hover {
  color: var(--red);
  transition: 0.2s;
}

#nav {
  justify-content: space-between !important;
  padding: 0 10%;
  width: 100%;
  background-color: var(--bg-c1) !important;
}

#nav p {
  margin-bottom: 0;
}

.loginBtn {
  padding: 0 0.5rem;
  color: white !important;
  border-radius: 0.5rem;
  transition: 0.2s;
  background-color: var(--red);
  margin-left: 1rem;
}

.loginBtn > a {
  color: white;
}

.loginBtn:hover {
  color: white;
  transition: 0.2s;
  box-shadow: 0 2px 5px gray;
}

.loginBtn > a:hover {
  color: white;
}

.bg-body-tertiary {
  background-color: rgb(255, 255, 255, 1) !important;
}

.active {
  color: var(--red) !important;
}

/* Home */
/* ------------------------------------ */
#container {
  width: 100%;
  padding: 0 10%;
  margin: 0 !important;
}

#Home {
  height: 90vh;
  max-height: 700px;
  /* width: 100%; */
  display: flex;
  gap: 2rem;
  background-color: var(--bg-c1);
  justify-content: space-between;
}

/* TODO */
#Home .home-content:nth-child(3) {
  color: var(--l-gray);
}

.home-content {
  display: flex;
  margin-top: 4rem;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 1rem;
  z-index: 2;
  max-width: 500px;
}

#Home .healthy-badge {
  background-color: rgba(255, 166, 0, 0.144);
  display: inline-block;
  width: fit-content;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 1px solid var(--brand-color);
  color: orange !important;
}

.healthy-badge p {
  margin-bottom: 0;
}

.home-content h1 {
  font-weight: 700;
  font-size: 3rem;
  color: var(--d-gray);
}

.hero-buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}

.btn {
  border: 0;
  transition: 0.2s;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.red-bg-btn {
  color: white !important;
  background-color: var(--red);
}

.red-bg-btn:hover {
  box-shadow: 0 2px 5px var(--red);
  color: white !important;
  background-color: var(--red);
}

.white-bg-btn {
  color: var(--red);
  background-color: white;
  border: 2px solid var(--red);
}

.white-bg-btn:hover {
  color: var(--red);
  background-color: white;
  border: 2px solid var(--red);
  box-shadow: 0 2px 5px var(--red);
}

.hero-img {
  width: 100%;
  min-width: 40vw;
  min-height: 40vh;
  max-height: 70vh;
  max-width: 70vw;
  object-fit: cover;
  border-radius: 2rem;
  z-index: 1;
  margin-top: 5rem;
}

.hero-imgs{
    justify-self: center;
    align-self: center;
}

.hero-side-card{
    position: relative;
    bottom: 40px;
    left: -20px;
    max-width: 350px;
    min-width: 250px;
    width: 50%;
    z-index: 1;
}

.arrow{
    position: absolute;
    bottom: 80px;
    right: 20px;
    width: 200px;
    z-index: -1;
}

/* ------------------------------ */
@media (max-width: 992px) {
  .home-content h1 {
    font-size: 2rem;
  }
}

@media (max-width: 797px) {
  #Home {
    flex-direction: column;
  }

  .home-content {
    order: 1;
    margin-top: 1rem;
  }

  .home-content h1 {
    font-size: 2rem;
  }

  .hero-img {
    width: 100%;
    max-height: 90vh;
    max-width: 90vw;
  }
}

@media (max-width: 576px) {
  .btn{
    font-size: 0.9rem;
  }
}

@media (max-width: 300px) {
    .logo {
        height: 2.5rem;
      }
    
      #nav > div > a > p {
        color: var(--d-gray);
        font-weight: 700;
        font-size: 1rem;
      }
  }


